%section.container
  .row
    .col-sm-10
      .well
        %header
          %h1 Add a New Business
        = bootstrap_form_for(@business) do |f|
          %fieldset
            .form-group.col-sm-11
              = f.text_field :name, label: "Name", layout: :horizontal
            .form-group.col-sm-11
              = f.text_field :address, label: "Address", layout: :horizontal
            .form-group.col-sm-11
              = f.text_field :city, label: "City", layout: :horizontal
            .form-group.col-sm-11
              = f.text_field :state, label: "State", layout: :horizontal
            .form-group.col-sm-11
              = f.text_field :url, label: "Website", layout: :horizontal
            .form-group.col-sm-11
              = f.select :category_id, options_for_select(Category.all.map { |cat| [cat.name, cat.id]}), label: "Category", layout: :horizontal
          %fieldset.actions.control-group.col-sm-offset-2
            = f.submit "Add", class: "btn btn-success"
            = link_to "Cancel", home_path, class: "btn btn-default"