%section.container
  .row
    .col-sm-10.col-sm-offset-1.profile
      .col-sm-3
        %img.img-responsive{:src => asset_path("#{@business.business_photo? ? @business.business_photo : "face_icons/shop.png"}")}
      .col-sm-5
        %h2= @business.name
        %h4= @business.city + ", " + @business.state 
        %hr
        -if signed_in?
          = link_to favorites_path(business_id: @business.id), method: :post, class: "btn btn-default" do
            %i.glyphicon.glyphicon-heart 
            Favorite
          = link_to new_recommendation_path(business_id: @business.id), class: "btn btn-default" do
            %i.glyphicon.glyphicon-envelope 
            Recommend
        - if signed_in? && admin?
          %hr
          = link_to edit_admin_business_path(@business), class: "btn btn-default" do
            %i.glyphicon.glyphicon-pencil 
            Edit Business
          = link_to admin_business_path(@business), method: :delete, class: "btn btn-danger" do
            %i.glyphicon.glyphicon-remove 
            Delete Business
        - if signed_in? && @business.owners.include?(current_user)
          %hr
          = link_to edit_business_owner_business_path(@business), class: "btn btn-default" do
            %i.glyphicon.glyphicon-pencil 
            Edit Business
          
  .row
    .col-sm-6.col-sm-offset-1
      %p= link_to "Must be signed in to see reviews. Please sign in.", sign_in_path unless signed_in?
      - if signed_in?
        .well
          %header
            %h4 Add your chOMP
          = bootstrap_nested_form_for [@business, Review.new], layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-10' do |f|
            %fieldset
              = f.select :rating, rating_options, label: "Rating"
              = f.text_area :comment, rows: 6, label: "Comments"
              = f.file_field :review_photo, class: 'btn btn-file'
            %fieldset.form-group.actions
              = f.submit "Add", class: "btn btn-success col-sm-offset-2"
              = link_to "Cancel", @business, class: "btn btn-default"

        %h4 #{@business.name}'s chOMPs
        - @reviews.each do |review|
          - if signed_in? && admin?
            = link_to edit_admin_review_path(review), class: "btn btn-primary btn-xs" do
              %i.glyphicon.glyphicon-pencil 
              Edit Review
            = link_to admin_review_path(review), method: :delete, class: "btn btn-danger btn-xs" do
              %i.glyphicon.glyphicon-remove 
              Delete Review 
          - if signed_in? && @business.owners.include?(current_user)
            = link_to new_business_owner_reply_path(review), class: "btn btn-primary btn-xs" do
              %i.glyphicon.glyphicon-send 
              Reply
          %br
          %p
            - review.rating.times do
              <span class="glyphicon glyphicon-ice-lolly-tasted"></span> 
            #{review.rating} / 5 bites
          %p= review.comment
          %img.img-responsive{:src => asset_path("#{review.review_photo}")}
          %p.quiet 
            Reviewed by:
            = link_to review.user.name, user_path(review.user) 
            on #{display_datetime(review.created_at)}
          - review.replies.each do |reply|
            .well
              %p= reply.comment
              %p.quiet 
                Reply by owner:
                = link_to reply.user.name, user_path(reply.user) 
                on #{display_datetime(reply.created_at)}
          %hr
    .col-sm-3.col-sm-offset-1
      %h4 About #{@business.name}
      %label Location
      %p
        = @business.address 
        <br>
        = @business.city + ", " + @business.state
      %label Category
      %p= @business.category.name
      %label Website
      %p= link_to fix_url(@business.url) if @business.url
      %hr
      %label Overall Rating
      %p
        - @business.average_rating.to_i.times do
          <span class="glyphicon glyphicon-ice-lolly-tasted"></span> 
        #{@business.average_rating} / 5 bites
      %label Latest chOMP
      %p= latest_chomp(@business)
      %label Total chOMPs
      %p= @business.reviews.count
      %br
      - unless @business.owned?
        = link_to new_business_ownership_path(business_id: @business.id), class: "btn btn-default" do
          %i.glyphicon.glyphicon-flag 
          Claim This Business
      %hr
      