%section
  %header
    %h2 My Connections
  %table.table
    %thead
      %tr 
        %th Following
      %tr
        %th(width="30%")
        %th(width="20%") Favorites
        %th(width="20%") Followers
        %th(width="30%") Unfollow
    %tbody
      -@connections.each do |connection|
        %tr
          %td
            %img.img-responsive{:src => asset_path("#{connection.leader.avatar}")}
            = link_to connection.leader.name, connection.leader
          %td.extra-padding 
            = connection.leader.favorites.count
          %td.extra-padding 
            = connection.leader.leading_connections.count
          %td.extra-padding
            = link_to connection, method: :delete do
              %i.glyphicon.glyphicon-remove
  %table.table
    %thead
      %tr 
        %th Followers
      %tr
        %th(width="30%")
        %th(width="20%") Favorites
        %th(width="20%") Followers
        %th(width="30%") 
    %tbody
      -@connections.each do |connection|
        %tr
          %td
            %img.img-responsive{:src => asset_path("#{connection.follower.avatar}")}
            = link_to connection.follower.name, connection.follower
          %td.extra-padding 
            = connection.follower.favorites.count
          %td.extra-padding 
            = connection.follower.leading_connections.count
          %td.extra-padding
 