%section.well.container
  .row
    .col-sm-10.col-sm-offset-1
      = bootstrap_form_tag layout: :horizontal, label_col: 'col-sm-2', control_col: 'col-sm-6' do |f|
        %header
          %h1 Sign In
        %fieldset
          .form-group
            = f.email_field :email, label: "Email Address"
            = f.password_field :password
        %fieldset.actions.control-group.col-sm-offset-2
          .controls
            = f.submit "Sign In", class: "btn btn-default"
            = link_to "Forgot Password?", forgot_password_path