%section.container
  .row
    .col-sm-10.col-sm-offset-1
      %article
        %header
          %h2 My Favorites
          %table.table
            %thead
              %tr                
                %th(width="30%") Eatery
                %th(width="20%") Category
                %th(width="20%") Overall Rating 
                %th(width="10%") Recommend
                %th(width="10%") Remove
            %tbody
              - @favorites.each do |item|
                %tr 
                  %td
                    = link_to item.business_name, item.business
                  %td
                    = link_to item.category_name, item.category
                  %td
                    - item.business.average_rating.to_i.times do
                      <span class="glyphicon glyphicon-ice-lolly-tasted"></span> 
                    #{item.business.average_rating} / 5 bites
                  %td
                    = link_to new_recommendation_path(business_id: item.business.id) do
                      %i.glyphicon.glyphicon-envelope 
                  %td
                    = link_to item, method: :delete do
                      %i.glyphicon.glyphicon-remove                   