%section.container
  .row
    .col-sm-10.col-sm-offset-1.profile
      .col-sm-3
        %img.img-responsive{:src => asset_path("#{@user.avatar}")} 
      .col-sm-5
        %h2= @user.name
        %h4= @user.location 
        %hr
        = link_to connections_path(leader_id: @user.id), method: :post, class: "btn btn-default" do
          %i.glyphicon.glyphicon-plus 
          Follow Me
        - if signed_in? && admin?
          %hr
          = link_to admin_user_path(@user), method: :delete, class: "btn btn-danger" do
            %i.glyphicon.glyphicon-remove 
            Delete User
        
  .row
    .col-sm-6.col-sm-offset-1
      %h4 Recent chOMPs
      .row
        - @user.reviews.limit(6).each do |review|
          .col-sm-6
            %label= link_to review.business.name, business_path(review.business)
            %p 
              - review.rating.times do
                <span class="glyphicon glyphicon-ice-lolly-tasted"></span> 
              #{review.rating} / 5 bites
            %p= review.comment
            %hr 
      %h4 Recent Favorites
      .row
        - @user.favorites.limit(6).each do |favorite|
          .col-sm-6
            %label= link_to favorite.business.name, favorite.business
      %hr
      %h4 Recent Connections      
      .row
        - @user.following_connections.limit(6).each do |connection|
          .col-sm-6
            %label= link_to connection.leader.name, connection.leader
            
    .col-sm-3.col-sm-offset-1
      %h4 About #{@user.name}
      %label Location
      %p= @user.location
      %label chOMPing since
      %p= display_datetime(@user.created_at)
      %label Latest chOMP
      %p= latest_chomp(@user)
      %label Total chOMPs
      %p= @user.reviews.count
      %label Favorite Restaurants
      %p= @user.favorites.count
      %label Followers
      %p= @user.leading_connections.count
      %label Following
      %p= @user.following_connections.count
      
      %hr
